.buttonContainer {
   position: fixed;
   top: 150px;
   right: 20px;
}

.button {
   background-color: #f8f9fa;
   border: none;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   transition: background-color 0.2s, box-shadow 0.2s;
}

.button:hover,
.button:visited,
.button:active {
   background-color: #e3f0ff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   color: black;
}
