.formContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 2rem;
}

.formTitle {
   margin-bottom: 3rem;
}

.form {
   width: 350px;
}

.datePickers {
   display: flex;
   gap: 50px;
}

.addressFieldset {
   border: none;
}
.addressLegend {
   background-color: #fff !important;
   text-decoration: underline !important;
   font-style: italic !important;
   font-weight: bold !important;
   text-align: center !important;
   border-bottom: 0 !important;
}

.stateAndZip {
   display: flex;
   gap: 50px;
}

.submitButton {
   margin-left: 50%;
   transform: translate(-50%);
}
