.formContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 2rem;
}

.formTitle {
   margin-bottom: 3rem;
}

.form {
   width: 350px;
}

.datePickers {
   display: flex;
   gap: 50px;
}

.address {
   background-color: #fff;
   text-decoration: underline;
   font-style: italic;
   font-weight: bold;
   text-align: center;
}

.stateAndZip {
   display: flex;
   gap: 50px;
}

.submitButton {
   margin-left: 50%;
   transform: translate(-50%);
}
