@font-face {
   font-family: "RalewayExtraBoldItalic";
   src: url("../../assets/font/Raleway-ExtraBoldItalic.ttf");
}

.container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f8f9fa;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   width: 100%;
}

.logo {
   position: absolute;
   top: 50%;
   left: 1rem;
   transform: translateY(-50%);
}

.title {
   font-family: "RalewayExtraBoldItalic";
   font-size: 3rem;
   color: #000000;
   text-decoration: none;
   padding: 2rem;
   margin: 0 auto;
}
